{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="p-4 bg-white rounded shadow-sm">
            <div class="d-flex justify-content-between align-items-center border-bottom">
                <h2>{{ post.title }}</h2>
                <a href="{% url 'blog:post_share' post.pk %}" class="text-decoration-none">
                    <small>Share a post</small>
                </a>
            </div>
            <p class="text-secondary mt-2"><small>Published {{ post.publish }} by {{ post.author }}</small></p>
            {{ post.body|linebreaks }}
        </div>
    </div>
</div>
{% endblock %}