{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
<div class="row g-3">

    {% for post in results %}
    <div class="col-12">
        <div class="p-4 rounded shadow-sm bg-white">
            <div>
                <a href="{{ post.get_absolute_url }}" class="link-primary text-decoration-none">
                    <h4>{{ post.title }}</h4>
                </a>
            </div>
            <div>
                <p class="text-secondary">
                    <small>Published {{ post.publish }} by {{ post.author }}</small>
                </p>
                {{ post.body|markdown|truncatewords_html:30 }}
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="p-4 rounded shadow-sm bg-white">
            <small class="text-secondary">No available posts now.</small>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}